*.ipynb filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.nc filter=lfs diff=lfs merge=lfs -text
*.md !text !filter !merge !diff
*.ckpt !text !filter !merge !diff
*.ipynb !text !filter !merge !diff
*.py !text !filter !merge !diff
*.PNG !text !filter !merge !diff
*.pyc !text !filter !merge !diff
Bestmodel-additive_noise.nc !text !filter !merge !diff
Bestmodel-multiplicative_noise-flagInit2.nc !text !filter !merge !diff
Bestmodel-multiplicative_noise.nc !text !filter !merge !diff
Input_for_flaginit2.nc !text !filter !merge !diff
test_exp1.nc !text !filter !merge !diff
test_exp2.nc !text !filter !merge !diff
test_exp3.nc !text !filter !merge !diff
test_set.nc !text !filter !merge !diff
val_set.nc !text !filter !merge !diff
test_exp4.nc !text !filter !merge !diff
test_exp5.nc !text !filter !merge !diff
test_Bestmodel1.nc !text !filter !merge !diff
Dataset_danube.nc !text !filter !merge !diff
